// Unique header for homepage
.background-img {
  width: 100%;
  background-image: url("../img/bg3.jpg");
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  height: 450px;
  @include breakpoint {
    height: 560px;
  }
}


header{
  width: 100%;
  color: #FFF;
  @include breakpoint {
    margin-top: $gigantic;
  }
}

.header-logo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: $normal;
  float: none;
}
.header-logo a {
  display: inline-block;
  width: $gigantic;
  height: $gigantic;
  z-index: 5;

}


.header-logo img {
  display: inline-block;
  width: $gigantic;

}


.header-blurb {
  text-align: center;
  margin: 0 auto;
  float: none;
}

.header-blurb h1, li {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: $larger;
  @include breakpoint {
    line-height: $huge;
  }
}
.header-blurb h1 {
  color: #FFF;
  @include breakpoint {
    font-size: $larger;
  }
}
.header-blurb li {
  color: $deltaColorCharlie;
}

.content {
  width: 100%;
  position: relative;
  padding-top: $large;
  padding-bottom: $larger;
  text-align:center;
}
.content-p {
  margin-bottom: $larger;
}
.content-heading {
  padding-bottom: $normal;
}
.process {
  @extend .grid_4;
  height: $gigantic;
}
.heading-icon {
  color: $alphaColorBeta;
  vertical-align: sub;
  font-size: $normal;
  margin-bottom: $tiny;
}
.heading-icon span {
  color: $betaColor;
  vertical-align: baseline;
}
.process-text {
  text-align: center;
}

.portfolio-samples {
  background-color: $betaColorBeta;
}

.portfolio-samples_section {
  margin-bottom: $larger;
  h2 {
    font-size: $normal;
    color: $alphaColor;
    text-align: left;
    @include breakpoint {
      font-size: $normal;
    }
  }
  figure {
    //height: $gigantic;
    overflow: hidden;
  }
  img {
    width: 100%;
    background-color: gray;
    @include breakpoint {

    }
  }
}


.about {
  background-color: #FFF;
  text-align: left;
}
.about img {
  width: 100%;
}
