/* Color Variables
****************************/
/* Type Size Variables
****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, button, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-family: 'Courier New', monospace;
  font-weight: 300;
  vertical-align: baseline;
  text-decoration: none;
  z-index: 1;
  letter-spacing: 1px; }

body {
  line-height: 1.618rem; }

h1, h2, h3 {
  font-weight: 700; }

h1 {
  font-size: 1.618rem;
  color: #FFFFFF;
  line-height: 2.618rem; }

h2 {
  font-size: 1rem;
  line-height: 1.618rem;
  color: #000000; }

a {
  color: #000000; }

p {
  text-align: left;
  margin-bottom: 1rem;
  color: #FFFFFF; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*==========================================================================
Grid System
==========================================================================*/
/* Mobile Grid Resets all Columns to 100%*/
.grid_1 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_1 {
      width: 6.5%;
      margin: 0 1% 1% 1%; } }

.grid_2 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_2 {
      width: 15%;
      margin: 0 1% 1% 1%; } }

.grid_3, .work-sample__thumnails li {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_3, .work-sample__thumnails li {
      width: 23.5%;
      margin: 0 1% 1% 1%; } }

.grid_4 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_4 {
      width: 32%;
      margin: 0 1% 1% 1%; } }

.grid_5 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_5 {
      width: 40.5%;
      margin: 0 1% 1% 1%; } }

.grid_6 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_6 {
      width: 49%;
      margin: 0 1% 1% 1%; } }

.grid_7 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_7 {
      width: 57.5%;
      margin: 0 1% 1% 1%; } }

.grid_8 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_8 {
      width: 66%;
      margin: 0 1% 1% 1%; } }

.grid_9 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_9 {
      width: 74.5%;
      margin: 0 1% 1% 1%; } }

.grid_10 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_10 {
      width: 83%;
      margin: 0 1% 1% 1%; } }

.grid_11 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_11 {
      width: 91.5%;
      margin: 0 1% 1% 1%; } }

.grid_12 {
  width: 100%;
  margin-bottom: 2%;
  float: left;
  display: block; }
  @media screen and (min-width: 800px) {
    .grid_12 {
      width: 100%;
      margin: 0 1% 1% 1%; } }

.alpha, .work-sample__thumnails li:nth-child(4n+1) {
  margin-left: 0px;
  clear: both; }

.omega, .work-sample__thumnails li:nth-child(4n) {
  margin-right: 0px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden; }

html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

@font-face {
  font-family: 'icomoon';
  src: url("../icomoon/fonts/icomoon.eot?rfxptx");
  src: url("../icomoon/fonts/icomoon.eot?#iefixrfxptx") format("embedded-opentype"), url("../icomoon/fonts/icomoon.woff?rfxptx") format("woff"), url("../icomoon/fonts/icomoon.ttf?rfxptx") format("truetype"), url("../icomoon/fonts/icomoon.svg?rfxptx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e601"; }

.icon-images:before {
  content: "\e602"; }

.icon-profile:before {
  content: "\e604"; }

.icon-envelope:before {
  content: "\e605"; }

.icon-screen:before {
  content: "\e606"; }

.icon-mobile:before {
  content: "\e607"; }

.icon-tablet:before {
  content: "\e608"; }

.icon-user:before {
  content: "\e60b"; }

.icon-users:before {
  content: "\e60c"; }

.icon-search:before {
  content: "\e60d"; }

.icon-menu:before {
  content: "\e60e"; }

.icon-warning:before {
  content: "\e60f"; }

.icon-embed:before {
  content: "\e609"; }

.icon-code:before {
  content: "\e60a"; }

.icon-twitter:before {
  content: "\e610"; }

.icon-github:before {
  content: "\e600"; }

.icon-linkedin:before {
  content: "\e603"; }

.icon-file-xml:before {
  content: "\e611"; }

.container {
  width: 90%;
  margin: 0 auto; }

footer.footer {
  background-color: #FFFFFF;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  color: #000000;
  text-align: center;
  position: relative; }
  footer.footer:before {
    background: inherit;
    top: -40px;
    content: '';
    display: block;
    height: 155px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4.5deg);
    transform-origin: 50%;
    z-index: -1; }
    @media (min-width: 775px) {
      footer.footer:before {
        top: -67px; } }

.footer--list {
  margin: -40px 0 30px; }

.footer--li {
  font-size: 14px; }
  @media (min-width: 775px) {
    .footer--li {
      font-size: 18px; } }

.footer--copyright {
  color: inherit;
  text-align: inherit;
  font-size: 12px;
  margin: 0; }

@keyframes hoverWave {
  50% {
    transform: translateY(3px); } }
@-webkit-keyframes hoverWave {
  50% {
    transform: translateY(3px); } }
.nav-main {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 20px 20px 0;
  width: 100%;
  background: #000000;
  text-align: center; }
  @media (min-width: 775px) and (max-width: 1059px) {
    .nav-main {
      padding: 160px 20px 20px;
      right: 50px;
      width: 200px; } }
  @media (min-width: 1060px) {
    .nav-main {
      padding: 160px 20px 20px;
      right: 80px;
      width: 230px; } }
  .nav-main:after {
    background: inherit;
    height: 70px;
    bottom: -29px;
    left: 0;
    right: 0;
    content: '';
    display: block;
    position: absolute;
    transform: skewY(-4.5deg);
    transform-origin: 50%;
    z-index: -1; }
    @media (min-width: 775px) {
      .nav-main:after {
        height: 24px;
        bottom: 0; } }

#nav-main--toggle {
  position: absolute;
  padding: 5px;
  width: 29px;
  top: 20px;
  right: 27px;
  background: none;
  border: none;
  color: #F3E3CB;
  cursor: pointer;
  transition: color 0.2s ease;
  border: 1px solid transparent; }
  #nav-main--toggle:hover, #nav-main--toggle:focus, #nav-main--toggle:active {
    color: #e0b678;
    outline: none;
    border: 1px solid #F3E3CB;
    border-radius: 2px; }
  @media (min-width: 775px) {
    #nav-main--toggle {
      display: none; } }

.nav-main--logo {
  width: 80px; }
  @media (min-width: 775px) {
    .nav-main--logo {
      width: 93%;
      margin-bottom: 10px; } }

.nav-main--list {
  display: none; }
  @media (min-width: 775px) {
    .nav-main--list {
      display: block; } }
  .nav-main--list.expand {
    display: block; }

.nav-main--li {
  text-align: center;
  margin-bottom: 10px; }
  @media (max-width: 774px) {
    .nav-main--li:first-child {
      margin-top: 10px; } }

.nav-main--button {
  position: relative;
  color: #FFFFFF;
  display: block;
  border: 1px solid #F3E3CB;
  border-top: none;
  border-left: none;
  transition: all 0.4s;
  max-width: 300px;
  width: 100%;
  margin: 0 auto; }
  .nav-main--button:after {
    content: '';
    background: #F3E3CB;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    transition: all 0.3s; }
  .nav-main--button > span {
    position: relative;
    z-index: 2;
    color: inherit;
    font-weight: 200;
    font-size: 14px; }
  .nav-main--button:hover, .nav-main--button:focus, .nav-main--button:active {
    color: #000000; }
    .nav-main--button:hover:after, .nav-main--button:focus:after, .nav-main--button:active:after {
      width: 100%; }

.nav-main--social {
  color: #FFFFFF;
  transition: opacity 0.3s; }
  .nav-main--social:hover, .nav-main--social:focus, .nav-main--social:active {
    opacity: 0.8; }
  .nav-main--social > span {
    color: inherit; }

.button-dark {
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.618rem;
  letter-spacing: 2px;
  background-color: #634B65;
  border-bottom: 4px solid #382a39;
  text-shadow: 1px 1px 0px #382a39;
  text-align: center;
  height: 2.618rem;
  transition: all 0.3s;
  box-sizing: border-box; }
  .button-dark:hover {
    background-color: #382a39;
    border-bottom: 2.618rem solid #382a39; }
  .button-dark.full-width {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }

.body {
  background: #000000; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.hero {
  width: 100%;
  padding: 170px 0;
  background-image: url("../img/hero-bg.jpeg");
  background-size: 100% auto;
  background-position: center top;
  position: relative;
  text-align: center; }
  @media (min-width: 775px) {
    .hero {
      padding: 230px 0;
      text-align: left; } }

.hero--heading {
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px; }
  @media (min-width: 775px) and (max-width: 1059px) {
    .hero--heading {
      margin: 0;
      font-size: 33px;
      line-height: 46px; } }
  @media (min-width: 1060px) {
    .hero--heading {
      font-size: 48px;
      line-height: 76px; } }

.hero--box {
  display: inline-block;
  padding: 0 20px;
  background: white;
  color: #000000;
  font-size: inherit;
  vertical-align: bottom;
  font-style: normal;
  text-align: center;
  width: calc(100% - 59px); }
  @media (min-width: 775px) and (max-width: 1059px) {
    .hero--box {
      width: calc(100% - 85px); } }
  @media (min-width: 1060px) {
    .hero--box {
      width: calc(100% - 120px); } }
  .hero--box > span {
    display: block;
    margin: 0 auto;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    animation-duration: 2.1s;
    animation-name: wipe;
    animation-iteration-count: infinite; }

@keyframes wipe {
  from {
    width: 0; }
  60% {
    width: 100%; }
  to {
    width: 100%; } }
.section {
  text-align: center; }

.section__portfolio {
  background: #F3E3CB;
  position: relative;
  position: relative; }
  .section__portfolio:before {
    background: inherit;
    top: -40px;
    content: '';
    display: block;
    height: 155px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4.5deg);
    transform-origin: 50%;
    z-index: -1; }
    @media (min-width: 775px) {
      .section__portfolio:before {
        top: -67px; } }
  .section__portfolio:after {
    background: inherit;
    bottom: -111px;
    content: '';
    display: block;
    height: 155px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4.5deg);
    transform-origin: 50%;
    z-index: -1; }
    @media (min-width: 775px) {
      .section__portfolio:after {
        bottom: -78px; } }
  @media (min-width: 775px) {
    .section__portfolio {
      padding-bottom: 50px; } }

.section--heading {
  position: relative;
  top: -58px;
  z-index: 10;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 10px;
  min-width: 300px;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal; }
  @media (min-width: 775px) {
    .section--heading {
      top: -92px;
      font-size: 24px;
      line-height: 30px;
      min-width: 300px; } }

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; }

.portfolio-item--img {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
  -webkit-filter: blur(2px);
  /* Safari 6.0 - 9.0 */
  filter: blur(2px); }

.portfolio-item {
  position: relative;
  width: 100%;
  padding: 80px 10px;
  margin-bottom: 2%;
  background: #252525;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  color: #FFFFFF; }
  @media (min-width: 500px) and (max-width: 899px) {
    .portfolio-item {
      width: 49%; } }
  @media (min-width: 900px) {
    .portfolio-item {
      width: 32%; } }
  .portfolio-item:hover > .portfolio-item--img, .portfolio-item:focus > .portfolio-item--img, .portfolio-item:active > .portfolio-item--img {
    opacity: 0.2; }

.portfolio-item--text {
  position: relative;
  z-index: 2;
  font-size: 14px; }
  @media (min-width: 900px) {
    .portfolio-item--text {
      font-size: 18px; } }

.button {
  display: inline-block;
  border: 1px solid #252525;
  background: transparent;
  color: #252525;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  transition: all 0.3s ease;
  font-weight: 300;
  font-size: 14px; }
  @media (min-width: 775px) {
    .button {
      font-size: 18px; } }
  .button:hover, .button:focus, .button:active {
    background: #252525;
    color: #F3E3CB; }

.section__about {
  padding: 150px 0 100px;
  background: #252525; }
  @media (min-width: 775px) {
    .section__about {
      padding-bottom: 220px; } }

.section__about--img {
  float: left;
  width: 30%;
  margin-right: 3%;
  vertical-align: top;
  -webkit-clip-path: polygon(93% 0%, 0% 0%, 7% 100%, 100% 100%);
  clip-path: polygon(93% 0%, 0% 0%, 7% 100%, 100% 100%); }
  @media (min-width: 775px) {
    .section__about--img {
      float: none;
      width: 40%;
      margin-right: 5%; } }

.section__about--text-wrap {
  padding-top: 30px; }
  @media (min-width: 775px) {
    .section__about--text-wrap {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      margin-top: 90px;
      padding-top: 0; } }

.section__about--text {
  font-size: 14px; }
  .section__about--text > em {
    display: block;
    margin-bottom: 20px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(37, 37, 37, 0.2); }

.modal-wrap {
  background: #FFFFFF;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  width: 95%;
  max-width: 1300px;
  padding: 10px;
  border: 1px solid #252525;
  text-align: center; }
  .modal-wrap:before {
    background: inherit;
    top: -53px;
    content: '';
    display: block;
    height: 235px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4.5deg);
    transform-origin: 50%;
    z-index: 1000;
    background: #252525; }

.modal--close {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: calc(2.5% - 10px);
  font-size: 12px;
  line-height: 12px;
  background: #777068;
  padding: 10px;
  z-index: 1001;
  color: #F3E3CB;
  cursor: pointer;
  border: 1px solid transparent; }
  .modal--close:focus, .modal--close:active {
    border: 1px solid #F3E3CB;
    outline: none; }
  @media (min-width: 1365px) {
    .modal--close {
      right: calc((100vw - 1300px)/ 2 - 10px); } }

.modal--heading {
  position: relative;
  margin-top: 40px;
  z-index: 1001;
  color: #FFFFFF; }
  .modal--heading + .modal--img {
    margin-top: 20px; }

.modal--subhead {
  margin: 60px 0 40px; }

.modal--heading-text {
  position: relative;
  font-size: 14px;
  text-align: center;
  z-index: 1001;
  color: #FFFFFF; }
  .modal--heading-text > a {
    font-size: inherit; }

.modal--img {
  position: relative;
  z-index: 1001;
  border: 1px solid #252525;
  max-width: 100%;
  vertical-align: top;
  margin-bottom: 10px; }
  .modal--img.small {
    width: 600px; }

.hero-bg-img__portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat;
  height: 290px;
  background-position: center 0;
  background-size: auto 460px; }
  @media screen and (min-width: 800px) {
    .hero-bg-img__portfolio {
      height: 400px;
      background-position: center -100px;
      background-size: auto; } }

.work-sample {
  margin-top: 2.618rem;
  clear: both; }
  .work-sample h1, .work-sample h2 {
    text-align: left; }

.work-sample__img img {
  width: 100%; }

.work-sample__thumnails {
  display: none; }
  @media screen and (min-width: 800px) {
    .work-sample__thumnails {
      display: block; } }
  .work-sample__thumnails li {
    overflow: hidden;
    height: 6.854rem; }
    .work-sample__thumnails li img {
      width: 100%; }

.work-sample__thumnails__title {
  display: none; }
  @media screen and (min-width: 800px) {
    .work-sample__thumnails__title {
      display: block; } }

.work-sample__tags {
  font-weight: 700;
  color: #AE8875;
  line-height: 1.618rem; }
  .work-sample__tags span {
    background-color: #c1a495;
    font-weight: 300;
    color: #FFF;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: -1px; }

.work-sample__links {
  clear: both; }
  .work-sample__links .button-dark {
    clear: none;
    float: left;
    display: inline-block;
    width: 100%;
    margin: 0 0 1% 0; }
    @media screen and (min-width: 800px) {
      .work-sample__links .button-dark {
        width: 49.5%;
        margin: 0 1% 0 0; }
        .work-sample__links .button-dark:last-child {
          margin-right: 0; } }

.content__portfolio:nth-child(odd) {
  background-color: #E3DFDD; }

#lightbox {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }
  #lightbox p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
    font-size: 12px; }
  #lightbox img {
    border: 0.381rem solid #FFF;
    max-height: 700px; }

/*# sourceMappingURL=main.css.map */
