/* Color Variables
****************************/
// Alpha - Purple Colors
$alphaColor: #634B65; //eggplant
$alphaColorBeta: #826F84; //light-eggplant
$alphaColorCharlie: #A193A3; //lightest-eggplant
// Beta - Light Brown Colors
$betaColor: #AE8875; //sandal
$betaColorBeta: #E3DFDD; //light-sandal
// Charlie - Dark Grey and Lighter Dark Grey
$charlieColor: #101113; //woodsmoke
$charlieColorBeta: #41454C; //mako
// Delta -  Lighter Greys
$deltaColor: #545256; // elephant
$deltaColorBeta: #7D7A80; //baby-elephant
$deltaColorCharlie: #A7A3AB; //pale-elephant
// Epsilon - Pale Blue
$ghost: #C4C7D2; //ghost

$black: #000000;
$white: #FFFFFF;
$cream: #F3E3CB;
$grey: #252525;



/* Type Size Variables
****************************/

$tiny: 0.381rem;
$small: 0.618rem;
$normal: 1rem;
$large: 1.618rem;
$larger: 2.618rem;
$huge: 4.236rem;
$gigantic: 6.854rem;


