.button-dark {
  color: #FFF;
  font-size: $normal;
  font-weight: 300;
  line-height: $larger;
  letter-spacing: 2px;
  background-color: $alphaColor;
  border-bottom: 4px solid darken($alphaColor, 15%);
  text-shadow: 1px 1px 0px darken($alphaColor, 15%);
  text-align: center;
  height: $larger;
  transition: all 0.3s;
  @include border-box;
  &:hover {
    background-color: darken($alphaColor, 15%);
    border-bottom: $larger solid darken($alphaColor, 15%);

  }
  &.full-width {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
